<h2>Меню Столовая Главная</h2>
<ul class="menu">
  <li *ngFor="let item of menu"
      [class.selected]="item === selectedItem"
      (click)="onSelect(item)">
    <span class="badge">{{item.id}}</span> {{item.name}}
  </li>
</ul>

<app-item-detail [item]="selectedItem"></app-item-detail>



<h3>Menu List</h3>


<table mat-table [dataSource]="menu" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Цена </th>
    <td mat-cell *matCellDef="let item"> {{item.cost | currency:'EUR':true}} </td>
  </ng-container>

  <!-- Buy Column -->
  <ng-container matColumnDef="buy">
    <th mat-header-cell *matHeaderCellDef> Купить </th>
    <td mat-cell *matCellDef="let item">  <a [routerLink]="['/cart', { id:item.id }]"> Добавить в корзину </a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
