<button mat-button [matMenuTriggerFor]="menu_first">Столовые</button>
<button mat-button [matMenuTriggerFor]="menu_second" routerLink="/cafe" >Буфеты</button>
<button mat-button [matMenuTriggerFor]="menu_third" routerLink="/pancakes">Блинные</button>
<button mat-button [matMenuTriggerFor]="menu_fourth" routerLink="/cart">Корзина</button>

<mat-menu #menu_first="matMenu" [overlapTrigger]="false" class="full-width">
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">ГЗ</mat-list-item>
            <mat-list-item><a mat-button routerLink="/stl1">Большая 1 этаж</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/stl1">Большая 2 этаж</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/stl1">Профессорская 1 этаж</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/stl1">Столовая "ЮГ"</a></mat-list-item>
    </mat-list>
  </div>
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">УЛК</mat-list-item>
      <mat-list-item><a mat-button routerLink="/stl1">Большая 1 этаж</a></mat-list-item>
      <mat-list-item><a mat-button routerLink="/stl1">Большая 2 этаж</a></mat-list-item>
    </mat-list>
  </div>
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">Другие</mat-list-item>
      <mat-list-item><a mat-button routerLink="/stl1">Ректорская (access required)</a></mat-list-item>
    </mat-list>
  </div>
</mat-menu>
<mat-menu #menu_second="matMenu" [overlapTrigger]="false" class="full-width">
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">ГЗ</mat-list-item>
      <mat-list-item><a mat-button routerLink="/cafe">Буфет на 3м этаже</a></mat-list-item>
      <mat-list-item><a mat-button routerLink="/cafe">Буфет на 5 этаже</a></mat-list-item>
    </mat-list>
  </div>
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">УЛК</mat-list-item>
      <mat-list-item><a mat-button routerLink="/cafe">Буфет на 5 этаже</a></mat-list-item>
      <mat-list-item><a mat-button routerLink="/cafe">Буфет на 6 этаже</a></mat-list-item>
      <mat-list-item><a mat-button routerLink="/cafe">Буфет ДК</a></mat-list-item>
    </mat-list>
  </div>
</mat-menu>
<mat-menu #menu_third="matMenu" [overlapTrigger]="false" class="full-width">
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">Блинная</mat-list-item>
      <mat-list-item><a mat-button href="/pancakes">Блинная ГЗ</a></mat-list-item>
    </mat-list>
  </div>
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">УЛК</mat-list-item>
      <mat-list-item><a mat-button href="/pancakes">Блинная УЛК</a></mat-list-item>
    </mat-list>
  </div>
</mat-menu>
<mat-menu #menu_fourth="matMenu" [overlapTrigger]="false" class="full-width">
</mat-menu>
